<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Propiedad</title> <!-- Cambié el título -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <!-- Formulario de Propiedad -->
  <div class="container mt-5">
    <h2></h2> <!-- el encabezado -->
    <%= form_with(model: @property, local: true) do |form| %>
      <div class="mb-3">
        <%= form.label :title, "Título" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, "Descripción" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :image, "Imagen de portada" %>
        <%= form.file_field :image, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :location, "Ubicación (Google Maps)" %>
        <%= form.text_field :location, class: "form-control", placeholder: "Introduce la URL de Google Maps" %>
      </div>

      <div class="mb-3">
        <%= form.label :price, "Precio" %>
        <%= form.text_field :price, class: "form-control" %>
        <% if @property.errors[:price].any? %>
          <div class="text-danger">
            <%= @property.errors[:price].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="mb-3">
        <%= form.label :status, "Estado" %>
        <%= form.text_field :status, class: "form-control" %>
        <% if @property.errors[:status].any? %>
          <div class="text-danger">
            <%= @property.errors[:status].join(", ") %>
          </div>
        <% end %>
      </div>

      <%= form.submit "Guardar", class: "btn btn-primary" %>
    <% end %>
  </div>
</body>
</html>
