<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'AF Inmobiliaria' %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <!-- Menú de Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">AF Inmobiliaria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/properties">Propiedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrarse</a>
          </li>
          <!-- Botón "Subir Propiedad" en el menú flotante -->
          <li class="nav-item">
            <a class="btn btn-success" href="/properties/new">Subir Propiedad</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <%= link_to 'cerrar sesión', destroy_user_session_path, method: :delete %>
    <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


  <!-- Contenido Principal -->
  <div class="container">
    <%= yield %> <!-- Aquí se inyecta el contenido específico de cada vista -->
  </div>

  <!-- Botón Sticky para subir propiedad -->
  <a href="/properties/new" class="sticky-btn">
    <i class="bi bi-plus-lg"></i> <!-- Icono de signo de más -->
  </a>

  <!-- Footer -->
  <footer class="bg-dark text-white text-center p-3 mt-5">
    <p>&copy; 2024 Inmobiliaria. Todos los derechos reservados.</p>
  </footer>

</body>
</html>
